@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* background-image: url(/Assets/img/fondo-pikachu-pokebola.jpg); */
	background-color: rgb(222, 199, 243);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	gap: 10px;
}

.title-and-input {
	background-color: #ffca05;
	padding: 1.5rem 3rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: 500px;
	box-shadow: -4px 16px 34px 20px rgba(0, 0, 0, 0.73);
	-webkit-box-shadow: -4px 16px 34px 20px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: -4px 16px 34px 20px rgba(0, 0, 0, 0.73);
}

.title-and-input img {
	width: 300px;
	height: 150px;
}

.title-and-input h1 {
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 700;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

input[type='number'] {
	background-color: #e95753;
	color: white;
	width: 300px;
	height: 30px;
	border-radius: 10px;
	border: none;
	text-align: center;
	outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type='number']:focus {
	outline: none;
}

.submit-icon {
	display: flex;
	gap: 10px;
}

#form img {
	width: 35px;
	height: 35px;
}

input[type='submit'] {
	color: blac;
	background-color: #2e6db7;
	padding: 0.2rem 3rem;
	border-radius: 10px;
	cursor: pointer;
	font-family: fantasy;
}

.msg {
	background-color: red;
	color: aliceblue;
	border-radius: 10px;
	width: 500px;
	max-width: 300px;
	text-align: center;
}
.fa-triangle-exclamation {
	margin-right: 10px;
}

.sub-container {
	background-color: cadetblue;
	margin-bottom: 50px;
	border-radius: 20px;
	padding: 1rem;
	box-shadow: -4px 16px 34px 20px rgba(0, 0, 0, 0.73);
	-webkit-box-shadow: -4px 16px 34px 20px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: -4px 16px 34px 20px rgba(0, 0, 0, 0.73);
}

.header-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
}

.header-card p {
	color: rgb(255, 255, 255);
	background-color: black;
	border-radius: 50%;
	padding: 0.5rem;
}

.pc {
	color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

#card {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

#card img {
	width: 250px;
	height: 300px;
	padding-bottom: 20px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.titles {
	background-color: black;
	color: white;
	width: 100%;
	border-radius: 10px 10px 0 0;
	padding-left: 15px;
}

.data {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
	border-radius: 0 0 10px 10px;
	width: 100%;
	padding-left: 15px;
}

.weigth {
	font-size: 15px;
}

.heigth {
	font-size: 15px;
}

.moves {
	max-width: 300px;
	font-size: 15px;
}

.img-pokebola {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.img-pokebola img {
	width: 30px;
}
